.landingPageSlider .swiper-pagination-horizontal {
    position: relative !important;
    margin-top: -60px !important;
    height: 60px;
}

.landingPageSlider .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    background-color: transparent !important;
    border: 2px solid black !important;
    outline: black !important;
    background-color: rgb(231, 231, 231) !important;
}

.landingPageSlider .swiper-pagination-bullet:active {
    background-color: #161616 !important;
}

.landingPageSlider .swiper-pagination-bullet-active {
    background-color: #161616 !important;
}